* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  cursor: none;
  scroll-behavior: smooth;
  --pink: #ff5959;
  --blue: #000324;
  --cream: #fff8e8;
}
.container {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.container section {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 4rem;
}
.cursor {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 0%;
  border: 2px solid var(--cream);
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: 1;
  pointer-events: none;
  transition: all 0.6s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
}
.smallCursor {
  content: "";
  width: 40px;
  height: 40px;
  border: 7px solid var(--pink);
  position: absolute;
  border-radius: 50%;
  border-top-left-radius: 0%;
  animation: cursoranimation 1.2s infinite;
  top: -2px;
  left: -2px;
  animation-timing-function: ease-out;
}
@keyframes cursoranimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  80% {
    opacity: 80%;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.7);
  }
}
.link-grow {
  transform: scale(3.3);
  background: var(--pink);
  border-radius: 0;
  width: 2rem;
  height: 1rem;
  border-radius: 20%;
  transform-origin: 100% 100%;
}
.cursor-bg {
  background: var(--cream);
  transform: scale(3.3);
  border-radius: 0;
  width: 2rem;
  height: 1rem;
  border-radius: 20%;
  transform-origin: 100% 100%;
}
.grow {
  transform: scale(3.3);
  background: var(--pink);
  border-radius: 0;
  width: 2rem;
  height: 1rem;
  border-radius: 20%;
  transform-origin: 100% 100%;
}
nav {
  position: fixed;
  top: 0;
  height: 10vh;
  width: 90%;
  margin-left: 5%;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  font-size: 2.2rem;
}
nav .logo a {
  text-decoration: none;
}
.navLinks {
  color: var(--cream);
  transition: 0.5s;
}

nav ul {
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  text-decoration: none;
  color: var(--cream);
  padding: 1.4rem;
  margin-left: 2rem;
}
.hovered-link {
  color: var(--blue);
}
.landing-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background: var(--blue);
}
.animImg {
  position: absolute;
  bottom: -10%;
  right: -10%;
  animation: circular 20s infinite;
  animation-timing-function: linear;
  width: 30%;
}

@keyframes circular {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.landing-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.introLine {
  font-size: 1.5rem;
  color: #fff5de;
  width: 70%;
  letter-spacing: 0.2rem;
}
.companyName {
  animation: textAnimation 3s linear;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
    0 0 80px #ff0000, 0 0 120px #ff0000;
}

@keyframes textAnimation {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: #fcc7c7;
    text-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: white;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #ff0000, 0 0 40px #ff0000,
      0 0 80px #ff0000, 0 0 120px #ff0000;
  }
}
.tagLine {
  font-size: 3.3rem;
  color: var(--cream);
  width: 70%;
  letter-spacing: 0.5rem;
}

.arrows {
  display: flex;
  flex-direction: column;

  justify-content: start;
  position: absolute;
  bottom: 2vh;
}

.arrows .arrow {
  width: 2.2rem;
  margin-top: -50px;
  animation: arrowAnimation 1s infinite;
  animation-timing-function: ease;
}

.arrows .arrow:nth-child(1) {
  animation-delay: -0.6s;
}
.arrows .arrow:nth-child(2) {
  animation-delay: -0.4s;
}
.arrows .arrow:nth-child(3) {
  animation-delay: -0.2s;
}
@keyframes arrowAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.About-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--pink);
  background: var(--pink);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutContainer {
  height: 60%;
  width: 70%;
  display: flex;
  flex-direction: column;
  color: var(--blue);
}
.whyContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.whyContainer h2 {
  font-size: 3rem;
}
.whyContainer p {
  font-size: 1.7rem;
  width: 50%;
}
.processContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.process {
  width: 25%;
}
.process h5 {
  font-size: 1.7rem;
}
.process p {
  margin-top: 10%;
  font-size: 1.2rem;
}
.project-page1 {
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  position: relative;
}
.project-page2 {
  height: 100vh;
  width: 100vw;
  background-color: var(--blue);
  position: relative;
}
.projectContainer {
  width: 90%;
  height: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.projectContainer .left {
  width: 50%;
  height: 100%;
}
.projectContainer .right {
  width: 50%;
  height: 100%;
}
.projectContainer .projectimg {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectContainer .projectimg img {
  width: 90%;
}
/* .projectDescription {
  text-align: center;
} */
.projectDescription h3 {
  font-size: 3rem;
  color: var(--pink);
  margin-top: 20%;
  text-align: center;
}
.projectDescription p {
  font-size: 1.4rem;
  color: var(--cream);
  margin-top: 10%;
  text-align: justify;
}
.contact-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--cream);
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}
